<div id="home_container" class="external">
  
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Contact miStufs</h3><br />(my *stuffs)

              <ul class="nav masthead-nav">
                <li class="active">

                </li>
                <li>

                </li>
                <li>
                </li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Home</h1>




            <form class="form-horizontal">

              <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                  <input type="text" id="firstName" placeholder="Your First Name">
                </div>
              </div>
              <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                  <input type="text" id="lastName" placeholder="Your Last Name">
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email Address</label>
                <div class="col-sm-10">
                  <input type="email" id="email" placeholder="Your email address">
                </div>
              </div>
              <div class="form-group">
                <label for="message" class="col-sm-2 control-label">Message</label>
                <div class="col-sm-10">
                  <input type="text" id="message" placeholder="Message">
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-danger">Send</button>
              </div>
            </form>



            <p class="lead">

            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <!-- Validation -->

              <p>
                <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fbootsnipp.com%2Fiframe%2Fg6GWQ"
                   target="_blank"><small>HTML</small><sup>5</sup></a>
              </p>


              <p>
                <a href="https://github.com/twbs/bootlint"
                   target="_blank"><small>Checked with Bootlint</small></a>
              </p>



              <p>
                © 2014 Nick Scheuring ~ <a href="http://getbootstrap.com/">Bootstrap</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</div>